.main-banner-slider {
    margin-top: 20px;
    box-shadow: none;

    div {
        height: 550px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include respond(phone) {
            height: 250px;
        }
    }

    img {
        height: 550px;

        @include respond(phone) {
            height: 250px;
        }
    }
}

.popular-products {
    text-align: center;
    margin-top: 40px;

    .main-title {
        font-size: 28px;
        text-transform: uppercase;

    }

    .popular-products-container {
        margin-top: 40px;

        .single-popular-products {
            margin-top: 30px;
            margin-bottom: 20px;

            .image-container {
                img {
                    max-height: 400px;
                }
            }

            .single-title {
                margin-top: 15px;
                font-size: 14px;
                font-weight: 500;
            }

            .single-price {
                margin-top: 5px;
                color: #666;
                font-weight: 400;
                font-size: 14px;
            }

            .add-to-cart {
                margin-top: 15px;

                a {
                    background: $green;
                    border-radius: 0px;
                    text-decoration: none;
                    padding: 5px 10px;
                    color: #ffffff;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: normal;
                    transition: all 0.7s ease 0s;
                    -webkit-transition: all 0.7s ease 0s;
                    cursor: pointer;

                    &:hover {
                        background: #78d6f0;
                    }
                }
            }
        }
    }
}

//footer
.footer {
    margin-top: 50px;

    .divider {
        width: 100%;
        overflow: hidden;
        height: 1px;
        display: block !important;
        box-sizing: content-box;
        background: #e5e5e5;
    }

    .copyright {
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.view-more {
    margin-top: 45px;
    text-align: center;

    a {
        background: $red;
        border-radius: 0px;
        text-decoration: none;
        padding: 5px 15px;
        color: #ffffff;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        transition: all 0.7s ease 0s;
        -webkit-transition: all 0.7s ease 0s;
        cursor: pointer;

        &:hover {
            background: $yellow;
            color: white;
        }
    }
}


// about us
.about-us-section {
    margin-top: 30px;

    .main-title {
        text-align: center;
        font-size: 25px;

        span {
            border-bottom: 2px solid $green;
        }
    }

    .about-us-container {
        margin-top: 40px;

        .img-container {
            overflow: hidden;

            img {
                max-height: 500px;
                display: block;
                margin: 0 auto;
                transition: all 0.7s ease 0s;
                -webkit-transition: all 0.7s ease 0s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        .our-story {
            .story-title {
                font-size: 32px;
                font-weight: 500;
                text-transform: none;
                margin-bottom: 40px;
                border-bottom: 2px solid $green;
                display: inline-block;
            }

            p {
                font-size: 14px;
                line-height: 32px;
                color: #666;
            }
        }
    }
}


// cart
.cart-section {
    margin-top: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .cart-section-container {
        padding: 20px 10px;

        .single-item {
            img {
                max-height: 200px;
            }

            .title {
                margin-top: 15px;
                font-size: 14px;
                font-weight: 500;
            }

            .price{
                margin-top: 5px;
                color: #666;
                font-weight: 400;
                font-size: 14px;
            }
            .remove-btn{
                margin-top: 10px;
                  a {
                      background: $red;
                      border-radius: 0px;
                      text-decoration: none;
                      padding: 5px 15px;
                      color: #ffffff;
                      font-weight: normal;
                      font-size: 14px;
                      line-height: normal;
                      transition: all 0.7s ease 0s;
                      -webkit-transition: all 0.7s ease 0s;
                      cursor: pointer;

                      &:hover {
                          background: $yellow;
                          color: white;
                      }
                  }
            }

        }
    }
}


.total-amount-container{
      margin: 40px;
     padding: 20px 10px;
     border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
     .item-count{
         padding-bottom: 10px;
        border-bottom: 1px solid black;
     }
     .total-amount{
         margin-top: 10px;
           padding-bottom: 10px;
         border-bottom: 1px solid black;
     }
     .checkout-btn{
         text-align: center;
         margin-top: 10px;
           a {
               width: 80%;
               background: black;
               border-radius: 0px;
               text-decoration: none;
               padding: 5px 15px;
               color: #ffffff;
               font-weight: normal;
               font-size: 14px;
               line-height: normal;
               transition: all 0.7s ease 0s;
               -webkit-transition: all 0.7s ease 0s;
               cursor: pointer;

               &:hover {
                   background: $yellow;
                   color: white;
               }
           }
     }

}
